.body {

}

.resolutionMenu button{
    padding: 0.2rem 1rem;
}
.resolutionMenu button:hover{
    box-shadow: inset 0 0 3rem #2977a7;
}

.workBlock {
    border: 1px solid #328fc9;
}

.menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 10rem));
    transform-origin: top;
}

.alarmBody {
    padding: 1rem;
}

.alarmItem {
    display: grid;
    width: auto;
    grid-template-columns: 1fr 5fr 10fr 3fr;
    justify-items: stretch;
}
.alarmItem > * {
    text-align: center;
    box-shadow: inset 0 0 0.1rem black;
}