.block {
    display: block;
}

.grid {
    display: grid;
    grid-template: repeat(36, 1fr) / repeat(64, 1fr);
}

.cell {
    box-sizing: border-box;
}

.error {
    background-color: red;
}

.sensor {
    border-radius: 100px;
    background-color: white;
    opacity: 95%;
    border: 1px solid black;
    display: grid;
    padding: 0 0;
}

.sensor>svg {
    padding: 0 0;
    justify-self: center;
    align-self: center;
}

.sensor>svg>* {
    font-size: 0.7rem;
}

.tankWrapper {
    display: grid;
    border-radius: 1000px;
    background-size: contain;
    background-clip: border-box;
    background-origin: border-box;
}
.tank {
    border-radius: 1000px;
    background: radial-gradient(farthest-side at 50% 50%, transparent, rgba(84,82,84,0.5));
}
.boilerTop {
    background-image: url("../../../textures/boiling_water.gif");
}
.boilerBottom {
    background-image: url("../../../textures/water_bubbles.gif");
}

.informationField {
    box-shadow: 0 0 3px 1px #2977a7;
    z-index: 100;
    padding: 0 0;
    color: white;
    background-color: #eff5ff;
    display: grid;
}

.informationField>svg {
    justify-self: center;
    align-self: center;
    padding: 0 0;
}

.informationField>* {
    padding: 0 0;
    font-size: 0.7rem;
}

.informationField:hover {
    background-color: #85cef6;
}

.valve {
    border-color: #d4edf6 transparent;
    padding: 0;
}
.moving {
    background: yellow;
}
.open {
    background: green;
}
.close {
    background: blue;
}

.rectangle {
    background-image: url("../../../textures/flame.gif");
    background-size: contain;
    background-clip: border-box;
    background-origin: border-box;
    border-radius: 1rem;
    box-shadow: inset 0 0 0.5rem black;
}