.resolution1080 {
    width: 1920px;
    height: 1080px;
}

.resolution720 {
    width: 1280px;
    height: 720px;
}

.resolution480 {
    width: 854px;
    height: 480px;
}

.block {
    display: block;
}

.grid {
    display: grid;
    grid-template: repeat(36, 1fr) / repeat(64, 1fr);
}

.cell {
    box-sizing: border-box;
}

/*
*/

.hPipe {
    background: url("/src/textures/metal_pipe__horizontal.jpg") round;
}

.vPipe {
    background: url("/src/textures/metal_pipe__vertical.jpg") round;
}