/*.resolution1080 {
    width: 1920px;
    height: 1080px;
}

.resolution720 {
    width: 1280px;
    height: 720px;
}

.resolution480 {
    width: 854px;
    height: 480px;
}*/

.block {
    display: block;
}

.grid {
    display: grid;
    grid-template: repeat(36, 1fr) / repeat(64, 1fr);
}

.cell {
    box-sizing: border-box;
}

/*
*/

.hPipe {
    background: linear-gradient(#848284, transparent, #848284);
}

.vPipe {
    background: linear-gradient(90deg, #848284, transparent, #848284);
}

.aPipeTL {
    background: radial-gradient(farthest-side at 0% 0%, #848284, transparent, #848284 100%, rgba(255,255,255,0));
}
.aPipeTR {
    background: radial-gradient(farthest-side at 100% 0%, #848284, transparent, #848284 100%, rgba(255,255,255,0));
}
.aPipeBL {
    background: radial-gradient(farthest-side at 0% 100%, #848284, transparent, #848284 100%, rgba(255,255,255,0));
}
.aPipeBR {
    background: radial-gradient(farthest-side at 100% 100%, #848284, transparent, #848284 100%, rgba(255,255,255,0));
}

.error {
    background-color: red;
}

.sensor {
    border-radius: 100px;
    background-color: white;
    opacity: 95%;
    border: 1px solid black;
    display: grid;
    padding: 0 0;
}

.sensor>svg {
    padding: 0 0;
    justify-self: center;
    align-self: center;
}

.sensor>svg>* {
    font-size: 0.7rem;
}

.circle {
    border-radius: 1000px;
    background: radial-gradient(farthest-side at 50% 50%, white, #848284);
}

.informationField {
    z-index: 100;
    padding: 0 0;
    color: white;
    background-color: #c6c6c6;
    display: grid;
}

.informationField>svg {
    justify-self: center;
    align-self: center;
    padding: 0 0;
}

.informationField>* {
    padding: 0 0;
    font-size: 0.7rem;
}

.valve {
    background: transparent;
    padding: 0;
}

.rectangle {
    background: #d7d7d7;
    box-shadow: #848284;
}